@import "src/styles/_variables.scss";

.navbar {
  background: $bg-color-dark;

  &-item {
    color: $font-color-lignt !important;

    &.is-active {
      background-color: $bg-color-white !important;
      color: $font-color-dark;
    }

    &:hover {
      background-color: $bg-color-white !important;
      color: $font-color-dark;
    }
  }

  &-link {
    color: $font-color-lignt !important;
  }

  &-dropdown {
    .navbar-item {
      background-color: white;
    }
  }

  &-burger {
    background-color: $bg-color-dark !important;
    border: 0;

    span {
      background-color: #00d1b2;
    }
  }
}
